
body {
    background-color: #cccccc !important;
}
.success-message{
    font-weight: 500 !important;
    font-style: italic !important;
}
.para-content{
    font-family: 'Times New Roman', Times, serif;
}