<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <a class="text-light text-decoration-none" href="/blog"><h2>Blog</h2></a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="/blog"><h5>Home</h5></a>
                <a class="text-light text-decoration-none" href="/blog/about"><h5>About</h5></a>
                <a class="text-light text-decoration-none" href="/blog/contact"><h5>Contact</h5></a>
            </div>
        </div>
    </div>
</header>